<% form_url = url_for([refinery, :inquiries, @inquiry]) -%>
<%= render "/refinery/inquiries/inquiries/handle_form_submit", :submit_url => form_url %>

<% content_for :body do %>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>

  <div class='inquiries'>
    <%= form_for([refinery, :inquiries, @inquiry], :url => (Refinery::Inquiries.submit_via_javascript ? "/notfound" : form_url), :class => "new_inquiry_form") do |f| %>
      <%= render :partial => "/refinery/admin/error_messages",
                 :locals => {
                   :object => @inquiry,
                   :include_object_name => true
                 } %>
      <% if Refinery::Inquiries.submit_via_javascript -%>
        <noscript><p><%= t('enable_javascript') %></p></noscript>
      <% end -%>

      <% if Refinery::Inquiries.use_honeypot -%>
        <div class="field" style="<%= 'display:none;' unless f.object.send(Refinery::Inquiries.honeypot_field_name).present? %>">
          <label><%= t('leave_this_blank') %>:</label>
          <%= f.text_field Refinery::Inquiries.honeypot_field_name, :class => "hidden" %>
        </div>
      <% end %>

      <div class="field">
        <%= f.required_label :name, :class => 'placeholder-fallback' %>
        <%= f.text_field :name, :class => 'text', :required => 'required', :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class="field">
        <%= f.required_label :email, :class => 'placeholder-fallback' %>
        <%= f.email_field :email, :class => 'text email', :required => 'required', :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class="field">
        <%= f.label :phone, :class => 'placeholder-fallback' %>
        <%= f.text_field :phone, :class => 'text phone', :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <% ::Refinery::Inquiries::Inquiry.custom_attribute_configs.each do |attr_name, config| -%>
      <div class="field">
        <%= f.label attr_name, config[:label], :class => 'placeholder-fallback' %>
        <%= f.text_field attr_name, :class => 'text', :required => config[:required] ? 'required' : '', :placeholder => config[:placeholder] %>
      </div>
      <% end -%>
      <div class='field message_field'>
        <%= f.required_label :message, :class => 'placeholder-fallback' %>
        <%= f.text_area :message, :rows => 8, :required => 'required', :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class="actions">
        <%= f.submit t('.send') %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
      </div>
      <%= recaptcha_tags if ::Refinery::Inquiries.use_recaptcha %>
    <% end %>
  </div>
<% end %>
<%= render :partial => "/refinery/content_page" %>
